:root {
    --header-color: #222831; 

}

.vertical-bar {
    width: 0.4vw;
    margin: 0 2px;
}

.bars-container {
    display: flex;
}

.container {
    display: table;
    margin: 0 auto;
}

.header-container {
    padding-top: 2px;
    display: flex;
    justify-content: center;
    background-color: var(--header-color);
    margin-bottom: 3px;
}

.buttons-container {
    background-color: var(--header-color);
    display: flex;
    justify-content: space-between;
    padding: 3vh;
    width: 60%;
}

.buttons-container > button {
    border: none;
    background-color: black;
    font-size: 1.25rem;
    color: whitesmoke;
    padding: 3px 9px;
}

.buttons-container > button:hover {
    background-color: darkslategrey;
}